{% extends "base.html" %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                {% include "topic-list.html" %}
            </div>
            <div class="col-5">
                {% include "main.html" %}
            </div>
            <div class="col-4">
                {% include "chat.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script%}
    <script type="text/javascript" src="{% static "js/chat.js" %}"></script>
{% endblock %}