{% extends "base.html" %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="topic-list">
                {% for topic in topics %}
                <div class="topic-list__item">
                    <h5><a href="{% url "topic_details" topic.pk %}">{{ topic.title }}</a> </h5>
                    <p>{{ topic.body }}</p>
                    <a href="{% url "topic_details" topic.pk %}" class="btn btn-outline-primary">More...</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-5">
            <img src="{% static "img/me.jpg" %}" class="img-fluid" alt="Responsive image">
            <p>{{ counter }} views</p>
        </div>
        <div class="col-4">
            <div class="form-group">
                <textarea id="chat-log" class="form-control" cols="100" rows="20" disabled></textarea><br/>
                <input id="chat-message-input" type="text" class="form-control" size="100"/><br/>
                <input id="chat-message-submit" type="button" class="btn btn-primary" value="Send"/>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block script%}
    <script type="text/javascript" src="{% static "js/chat.js" %}"></script>
{% endblock %}