{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="topic-list__item">
                <h5><a href="{% url "topic_details" topic.pk %}">{{ topic.title }}</a> </h5>
                <p>{{ topic.body }}</p>
                <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}