{% extends "base_parts/base.html" %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 topic-list">
                {% include "main_page/topic-list.html" %}
            </div>
            <div class="col-4 main">
                {% include "main_page/main.html" %}
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
{% endblock %}