{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "index.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="menu horizontal close">
		<ul class="container clearfix">
			<li>
				<a href="#">List items</a>
				<ul>
					<li>
						<a href="#">List items</a>
						<ul>
							<li>
								<a href="">Item</a>
							</li>
							<li>
								<a href="">Item</a>
							</li>
							<li>
								<a href="">Item</a>
							</li>
							<li>
								<a href="">Item</a>
							</li>
							<li>
								<a href="">Item</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">List items</a>
						<ul>
							<li>
								<a href="">Item</a>
							</li>
							<li>
								<a href="">Item</a>
							</li>
							<li>
								<a href="">Item</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">List items</a>
				<ul>
					<li>
						<a href="#">List items</a>
						<ul>
							<li>
								<a href="">Item</a>
							</li>
							<li>
								<a href="">Item</a>
							</li>
							<li>
								<a href="">Item</a>
							</li>
							<li>
								<a href="">Item</a>
							</li>
							<li>
								<a href="">Item</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">List items</a>
						<ul>
							<li>
								<a href="">Item</a>
							</li>
							<li>
								<a href="">Item</a>
							</li>
							<li>
								<a href="">Item</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
{% endblock %}
{% block script %}

{% endblock %}