{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "index.css" %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <ul>
                {% for worksop in workshops %}
                <li>
                    {{ worksop.name }}
                </li>
                {% endfor %}
            </ul>
            </div>
        </div>
        <div class="col-5">

        </div>
        <div class="col-4">

        </div>
    </div>
    </div>
{% endblock %}