{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static "img/me.jpg" %}">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "base.css" %}">
    {% block styles %}{% endblock %}

    <script type="text/javascript" src="{% static "jquery-3.5.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% block scripts %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="{% url "index" %}">Персональный сайт BrolAWE</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url "certificates" %}">Сертификаты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "research" %}">Исследование цвета</a>
            </li>
        </ul>
    </div>
    <ul class="nav">
        {% if user.is_authenticated %}
            <li class="nav-item"><a class="navbar-text" id="user">{{ user.get_username }}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Выйти</a></li>
        {% else %}
            <li class="nav-item"><a class="navbar-text" id="user">Пользователь</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Войти</a></li>
        {% endif %}
    </ul>
</nav>
{% block content %}{% endblock %}
</body>
{% block script %}{% endblock %}
</html>