{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static "img/me.jpg" %}">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    {% block styles %}{% endblock %}

    <script type="text/javascript" src="{% static "jquery/jquery-3.3.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
{% include "navbar.html" %}
{% block content %}{% endblock %}
</body>
{% block script %}
{% endblock %}
</html>