{% extends "base.html" %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "index.css" %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-2">
            {% include "topic-list.html" %}
        </div>
        <div class="col-8"><img src="{% static "me.jpg" %}" width="500" height="500"></div>
        <div class="col-2"><p>{{ counter }} views</p></div>
    </div>
    </div>
{% endblock %}