{% extends "base_parts/base.html" %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Url</th>
                </tr>
            </thead>
            <tbody>
                {% for i in b %}
                <tr class='success'>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.longitude }}</td>
                <td>{{ i.latitude }}</td>
                <td>{{ i.rate }}</td>
                <td>{{ i.photo }}</td>
                <td>{{ i.url }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}